<section class="gradient-form" style="background-color: #eee;">
  <!-- Navbar Start - Project Title -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid justify-content-around">
      <a class="navbar-brand" href="#">
        <h1 class="m-0">
          Line Chart
        </h1>
      </a>
    </div>
  </nav>
<!--End-->
<!--Filter By Custom Date -->
<div class="row">
<div class="mt-4 marginRightStyle col">
  <form [formGroup]="productsForm">
    <mat-form-field >
      <input matInput [matDatepicker]="dp" placeholder="Custom datepicker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    </form>
</div>
<!--End-->
<!--Filter by Dropdown values-->
<div class=" mt-4 marginLeftStyle col">
    <select  class="float-end mt-3" aria-placeholder="select" (change)="onChange(selectedFilter)" [(ngModel)]="selectedFilter">
      <option value="" disabled selected hidden>Last 4 Days</option>
      <option *ngFor="let product of productsFilter; let i = index;"
        [ngValue]="getValue(i)">
        {{ product.displayText }}
      </option>
    </select>
</div>
</div>
<!--End-->
<!--Chart Data depends on selected the value-->
  <div class="container py-5 h-100 mt-5">
    <chart [type]="type" [data]="filteredProducts" [options]="options"></chart>
  </div>
</section>