<section class="gradient-form" style="background-color: #eee;">
  <!-- Navbar Start - Project Title -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid justify-content-around">
      <a class="navbar-brand" href="#">
        <h1 class="m-0">
          Line Chart
        </h1>
      </a>
    </div>
  </nav>
<!--End-->
<!--Filter By Custom Date -->
<div class="row">
<div class="mt-4 marginRightStyle col">
    <mat-form-field >
      <input matInput [matDatepicker]="dp" placeholder="Custom datepicker" (dateInput)="OnDateChange($event.value)">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
</div>
<!--End-->
<!--Filter by Dropdown values-->
<div class=" mt-4 marginLeftStyle col">
    <mat-form-field class="float-end mt-3">
      <mat-select [(ngModel)]="product"  placeholder="Select Value" (selectionChange)="onChange($event.value)">
        <mat-option *ngFor="let product of productsFilter" [value]="product">{{ product.displayText }}</mat-option>
      </mat-select>
    </mat-form-field>
</div>
</div>
<!--End-->
<!--Chart Data depends on selected the value-->
  <div class="container py-5 h-100 mt-5">
    <chart [type]="type" [data]="filteredProducts" [options]="options"></chart>
  </div>
</section>